<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorldKnoz</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
    <h1>Today's News are as follows :</h1>
    <p>Author : <%= author %> </p>
    <h3>Title : <%= title %></h3>
    <p>Description : <%= description %></p>
    <img src="<%= image %>" alt="Trending News">
</body>
</html>